:root{
  --white:#fff;
  --black:#000;
  --font-color-base:#666;
  --font-color-dark:#212529;
  --font-color-light:#e4e8f0;
  --font-color-link:#57a6ff;
  --footer:#34314b;
  --footer-base:#2e2b45;
  --contrast:rgba(246,248,249,0.9);
  --success:#64Ecf5;
  --sketch:#1bd695e7;
  --bg-button:#006aff;
 
   
  --size-10:0.625rem;
  --size-14:0.875rem;
  --size-16:1rem;
  --size-18:1.125rem;
  --size-20:1.25rem;
  --size-30:1.875rem;
  --size-40:2.5rem;
  --size-50:3.125rem;
  --size-100:6.25rem;
  --size-150:9.375rem;
  
}
html{scroll-behavior: smooth;}

body{
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
  font-size: var(--size-14);
  line-height: 1.6;
  letter-spacing: 0;
  color: var(--font-color-base);
  padding: 0;
  margin: 0;
}

*,
::after,
::before{
  box-sizing: border-box;
}

ul{
  padding: 0%;
  margin: 0%;
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--font-color-base);
}
p{margin-top: 0%;}

h2{
  color: var(--black);
  font-size: var(--size-40);
  font-weight: 500;
  line-height: 1.2;
  font-family: sans-serif;
}

img{
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

a:hover{color: var(--font-color-link);}

.container{
  width: 100%;
  padding-left: var(--size-30);
  padding-right: var(--size-30);
  margin-left: auto;
  margin-right: auto;
}

.btn{
  display: inline-block;
  font-weight: 400;
  color: var(--font-color-dark);
  text-align: center;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  border-radius: var(--size-50);
  transition: ease-in-out 0.3s;
}

.btn-prime{
  background-color: var(--bg-button);
  border: 0px solid var(--bg-button);
  transition: ease-in-out .3s;
  color: var(--white);
  padding: 10px 25px;
  font-size: 18px;
}

.btn-learn{
  background-color: transparent;
  color: var(--bg-button);
  box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.35);
  padding: .475rem 1.75rem;
}

.btn-sketch{
  background-color: var(--sketch);
  border: 0px solid var(--bg-button);
  transition: ease-in-out .3s;
  color: var(--white);
  padding: 1% 4%;
  font-size: 12px;
}

@media (min-width:1200px){

}

