:root{
  --white:#fff;
  --black:#000;
  --font-color-base:#666;
  --font-color-dark:#212529;
  --font-color-light:#b0aebe;
  --font-color-link:#57a6ff;
  --footer:#34314b;
  --footer-base:#2e2b45;
  --contrast:rgba(246,248,249,0.9);
  --success:#64Ecf5;
  --danger:#ff8B8d;
  --grad-1:#a1ecff;
  --grad-2:#7dbcff;
   
  --size-10:0.625rem;
  --size-14:0.875rem;
  --size-16:1rem;
  --size-18:1.125rem;
  --size-20:1.25rem;
  --size-30:1.875rem;
  --size-40:2.5rem;
  --size-50:3.125rem;
  --size-100:6.25rem;
  --size-150:9.375rem;
  
}
html{scroll-behavior: smooth;}

body{
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
  font-size: var(--size-14);
  line-height: 1.6;
  letter-spacing: 0;
  color: var(--font-color-base);
  padding: 0;
  margin: 0;
}

*,
::after,
::before{
  box-sizing: border-box;
}

ul{
  padding: 0%;
  margin: 0%;
  list-style: none;
}

a{text-decoration: none;}
p{margin-top: 0%;}

h2{
  font-size: var(--size-40);
  font-weight: 500;
  line-height: 1.2;
}

img{
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.container{
  width: 100%;
  padding-left: var(--size-14);
  padding-right: var(--size-14);
  margin-left: auto;
  margin-right: auto;
}

.btn{
  display: inline-block;
  font-weight: 400;
  color: var(--font-color-dark);
  text-align: center;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  border-radius: var(--size-20);
  transition: ease-in-out 0.3s;
}

.btn-primary{
  background-image: linear-gradient(90deg,var(--grad-1) 0%,var(--grad-2)100%);
  border: 1px solid var(--grad-1);
  box-shadow: 0 10px 20px rgba(161,236, 255, 0.5);
  transition: ease-in-out .3s;
  color: var(--white);
  padding: 7px 20px;
}

.btn-white{
  background-color: var(--white);
  color: var(--font-color-link);
  box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.35);
  padding: .475rem 1.75rem;
}

@media (min-width:1200px){
  .container{max-width: 1140px;}
}

@media (min-width:992px){
  footer .container{max-width: 960px;}
}

@media (min-width:768px){
  .pricing-table, .test-grid, .footer-bottom-wrapper{max-width: 720px;}
}