/*Ipads and Tables in portrait mode*/
@media screen and (max-width:768px){
  [aria-controls="navbar-dropdown"]{
    display: block;
  }

  [aria-expanded="false"] ~ ul{
    display: none;
  }

  [aria-expanded="true"] ~ ul{
    display: block;
    position: absolute;
    right: 0;
    top: var(--size-50);
    background-image: linear-gradient(to right, transparent,rgba(255,255,255,0.7));
    width: 100%;
    text-align: right;
    box-shadow: 0px 0px 20px rgb(52 49 75 / 10%);
  }

  [aria-expanded="true"] ~ ul li a{
    margin-right: var(--size-20);
    color: var(--font-color-dark);
  }

  footer .footer-col:nth-child(3){
    grid-column: 1/3;
  }

}



@media screen and (max-width:480px){
  .hero-wrapper{
    text-align: center;
  }

  .why-me-wrapper{
    flex-wrap: wrap;
    text-align: center;
  }

  .why-me-wrapper .block-text{
    padding-right: 0%;
  }

  .why-me-wrapper >div{
    flex: initial;
  }

  footer .footer-col:nth-child(3){
    grid-column:initial;
  }

  footer .footer-col:nth-child(1){
    order: 3;
  }
  
}
